{% extends 'base.html' %}

{% block head %}
<title>Cowrie</title>
{% endblock %}

{% block body %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Cowrie Visualization</h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        
                    </div>
                </div>
            </div>
            <!--
            <div class="container">
                <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Last week</a></li>
                    <li><a href="#">Last month</a></li>
                    <li><a href="#">Last Year</a></li>
                </ul>
                </div>
            </div>
            </br>
            </br>
        -->
            <div class="ecommerce-widget">

                <div class="row">
                    <div class="col-lg-6 col-md-6" style="height: auto;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted" style="text-align: center;">Top Usernames</h4>
                                <div class="chart" id="top_usernames">
                                    <script type="text/javascript">
                                        var graphs = {{ usernames | safe }};
                                        var config= {displaylogo: false, modeBarButtonsToRemove: ['pan2d','lasso2d','zoomIn2d','zoomOut2d','autoScale2d','resetScale2d','select2d','toggleSpikelines']}
                                        Plotly.plot('top_usernames',graphs,{},config);
                                    </script>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted" style="text-align: center;">Top Passwords</h4>
                                <div class="chart" id="top_passwords">
                                    <script type="text/javascript">
                                        var graphs = {{ passwords | safe }};
                                        var config= {displaylogo: false, modeBarButtonsToRemove: ['pan2d','lasso2d','zoomIn2d','zoomOut2d','autoScale2d','resetScale2d','select2d','toggleSpikelines']}
                                        Plotly.plot('top_passwords',graphs,{},config);
                                    </script>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted" style="text-align: center;">Attacks by source IP addresses</h4>
                                <div class="chart" id="source_ip_graph">
                                    <script type="text/javascript">
                                        var graphs = {{ ipaddr | safe }};
                                        var config= {displaylogo: false, modeBarButtonsToRemove: ['pan2d','lasso2d','zoomIn2d','zoomOut2d','autoScale2d','resetScale2d','select2d','toggleSpikelines']}
                                        Plotly.plot('source_ip_graph',graphs,{},config);
                                    </script>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted" style="text-align: center;">Attacks based on time of day</h4>
                                <div class="chart" id="timeofday_graph">
                                    <script type="text/javascript">
                                        var graphs = {{ tod | safe }};
                                        var config= {displaylogo: false, modeBarButtonsToRemove: ['pan2d','lasso2d','zoomIn2d','zoomOut2d','autoScale2d','resetScale2d','select2d','toggleSpikelines']}
                                        Plotly.plot('timeofday_graph',graphs,{},config);
                                    </script>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>                            
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted" style="text-align: center;">Based on source country</h5>
                                <div class="chart" id="country_graph">
                                    <script type="text/javascript">
                                        var graphs = {{ country_names | safe }};
                                        var config= {displaylogo: false, modeBarButtonsToRemove: ['pan2d','lasso2d','zoomIn2d','zoomOut2d','autoScale2d','resetScale2d','select2d','toggleSpikelines']}
                                        Plotly.plot('country_graph',graphs,{},config);
                                    </script>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <!--
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted" style="text-align: center;">Attacks based on destination ports</h4>
                                <div class="chart" id="destport_graph">
                                    <script type="text/javascript">
                                        var graphs = {{ dest_port | safe }};
                                        var layout = {{ layout | safe }}
                                        Plotly.newPlot('destport_graph', graphs,layout,{});
                                    </script>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    -->
                </div>

                
                
                
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>