{% extends 'base.html' %}

{% block head %}
<title>Hello Ahaan</title>
{% endblock %}

{% block body %}

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- Dashboard Header  -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Statistics of Attacks</h2>
                    </div>
                </div>
            </div>
            <!-- Main body  -->
            <div class="ecommerce-widget">

                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Overall Alert Count</h4>
                                <script>
                                    var all_data;
                                    $(document).ready(function() {
                                        ajaxd();
                                        //setInterval(ajaxd,8000); // call every 3 seconds
                                        function ajaxd() { 
                                                $.getJSON("/dashgetdata", function(result){
                                                    var alerts = JSON.parse(result.alerts);
                                                    $("#tot_count").html(result.count[0]);
                                                    $("#last_day").html(result.count[1]);
                                                    $("#last_week").html(result.count[2]);
                                                    $("#last_month").html(result.count[3]);
                                                    var graph_attack = result.att_graph;
                                                    var len1 = graph_attack.length;
                                                    var new_graph_attack = graph_attack.substring(1,len1-1);
                                                    var temp1 = JSON.parse(new_graph_attack)
                                                    var data1 = [{
                                                        values: temp1.values,
                                                        labels: temp1.labels,
                                                        type: 'pie'
                                                        }];
                                                    var graph_country = result.country_gra;
                                                    var len2 = graph_country.length;
                                                    var new_graph_country = graph_country.substring(1,len2-1);
                                                    var temp2 = JSON.parse(new_graph_country)
                                                    var data2 = [{
                                                        values: temp2.values,
                                                        labels: temp2.labels,
                                                        type: 'pie'
                                                        }];
                                                    Plotly.newPlot('overall_attack_graph',data1,{});
                                                    Plotly.newPlot('overall_country_graph',data2,{});
                                                    // Extract value from table header. 
                                                    var col = [];
                                                    for (var i = 0; i < alerts.length; i++) {
                                                        for (var key in alerts[i]) {
                                                            if (col.indexOf(key) === -1) {
                                                                col.push(key);
                                                            }
                                                        }
                                                    }
                                                    // Create a table.
                                                    var table = document.createElement("table");
                                                    table.classList.add('table','table-bordered','table-hover','table-condensed');
                                                    // Create table header row using the extracted headers above.
                                                    var tr = table.insertRow(-1);                   // table row.

                                                    for (var i = 0; i < col.length; i++) {
                                                        var th = document.createElement("th");      // table header.
                                                        th.innerHTML = col[i];
                                                        tr.appendChild(th);
                                                    }

                                                    // add json data to the table as rows.
                                                    for (var i = 0; i < alerts.length; i++) {
                                                         tr = table.insertRow(-1);
                                                        for (var j = 0; j < col.length; j++) {
                                                            var tabCell = tr.insertCell(-1);
                                                            tabCell.innerHTML = alerts[i][col[j]];
                                                        }
                                                    }

                                                    // Now, add the newly created table with json data, to a container.
                                                    var divShowData = document.getElementById('showData');
                                                    divShowData.innerHTML = "";
                                                    divShowData.appendChild(table);
                                                });
                                                setTimeout(ajaxd,8000);
                                            }
                                    });
                                </script>
                                <div class="metric-value d-inline-block" style="text-align: center;">
                                    <h1 class="mb-1" style="text-align: center;" id="tot_count">0</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Last Day Count</h4>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1" id="last_day">0</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Last Week Count</h4>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1" id="last_week">0</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Last Month Count</h4>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1" id="last_month">0</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <!--Threatmap  -->
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h4 class="card-header">Threatmap of attacks</h4>
                            <iframe class="map", src="/map" width=auto height="600"></iframe>
                        </div>
                    </div>
                </div>

                <!--  Country graph and threat graph-->
                <div class="row">
                    <!--Country graph  -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h4 class="card-header" >Attacks by Country</h4>
                            <div class="chart" id="overall_country_graph">
                            </div>
                        </div>
                    </div>
                    <!-- Overall Threats  -->
                    <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h4 class="card-header" >Threat Categories</h4>
                            <div class="chart" id="overall_attack_graph">
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Table  -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Latest Events</h5>
                            <p id='showData'></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}