{% extends 'base.html' %}

{% block head %}
<title>HEllo Ahaan</title>
{% endblock %}

{% block body %}

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- Dashboard Header  -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Statistics of Attacks</h2>
                    </div>
                </div>
            </div>
            <!-- Main body  -->
            <div class="ecommerce-widget">

                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Overall Alert Count</h4>
                                <div class="metric-value d-inline-block" style="text-align: center;">
                                    <h1 class="mb-1" style="text-align: center;">{{ total_count }}</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Last Day Count</h4>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">{{ last_day }}</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Last Week Count</h4>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">{{ last_week }}</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-muted">Last Month Count</h4>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">{{ last_month }}</h1>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <!--Threatmap  -->
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h4 class="card-header">Threatmap of attacks</h4>
                            <iframe class="map", src="/map" width=auto height="600"></iframe>
                        </div>
                    </div>
                </div>

                <!--  Country graph and threat graph-->
                <div class="row">
                    <!--Country graph  -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h4 class="card-header" >Attacks by Country</h4>
                            <div class="chart" id="overall_country_graph">
                                <script type="text/javascript">
                                    var graphs = {{ country_graph | safe }};
                                    Plotly.plot('overall_country_graph',graphs,{});
                                </script>
                            </div>
                        </div>
                    </div>
                    <!-- Overall Threats  -->
                    <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h4 class="card-header" >Threat Categories</h4>
                            <div class="chart" id="overall_attack_graph">
                                <script type="text/javascript">
                                    var graphs = {{ attack_graph | safe }};
                                    Plotly.plot('overall_attack_graph',graphs,{});
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Table  -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Latest Events</h5>
                            <table class="table table-bordered table-hover table-condensed">
                                <thead><tr><th title="Field #1">Timestamp</th>
                                <th title="Field #2">Protocol</th>
                                <th title="Field #3">Source_ip</th>
                                <th title="Field #4">Source_port</th>
                                <th title="Field #5">Destination_port</th>
                                <th title="Field #6">Honeypot</th>
                                </tr></thead>
                                    <tbody><tr>
                                    <td>2020-01-14T03:47:19.426Z</td>
                                    <td>TCP</td>
                                    <td>190.56.17.186</td>
                                    <td align="right">20386</td>
                                    <td align="right">1433</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:47:16.426Z</td>
                                    <td>TCP</td>
                                    <td>83.97.20.49</td>
                                    <td align="right">57522</td>
                                    <td align="right">1967</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:47:14.426Z</td>
                                    <td>TCP</td>
                                    <td>185.176.27.178</td>
                                    <td align="right">52434</td>
                                    <td align="right">8814</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:45:56.425Z</td>
                                    <td>TCP</td>
                                    <td>185.176.27.166</td>
                                    <td align="right">43337</td>
                                    <td align="right">53701</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:44:58.429Z</td>
                                    <td>TCP</td>
                                    <td>185.156.73.54</td>
                                    <td align="right">45725</td>
                                    <td align="right">2707</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:41:53.071Z</td>
                                    <td>TCP</td>
                                    <td>83.97.20.49</td>
                                    <td align="right">33043</td>
                                    <td align="right">1962</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:41:53.064Z</td>
                                    <td>TCP</td>
                                    <td>83.97.20.49</td>
                                    <td align="right">33043</td>
                                    <td align="right">1962</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:41:49.065Z</td>
                                    <td>TCP</td>
                                    <td>185.176.27.34</td>
                                    <td align="right">45293</td>
                                    <td align="right">13883</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:41:33.066Z</td>
                                    <td>TCP</td>
                                    <td>198.108.67.99</td>
                                    <td align="right">44275</td>
                                    <td align="right">44300</td>
                                    <td>snort</td>
                                    </tr>
                                    <tr>
                                    <td>2020-01-14T03:41:32.064Z</td>
                                    <td>TCP</td>
                                    <td>185.156.73.57</td>
                                    <td align="right">42494</td>
                                    <td align="right">3421</td>
                                    <td>snort</td>
                                    </tr>
                                </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}